body,html{
    margin: 0%;
    padding: 0%;

    font-size: 12px;
    line-height: 1.6;
    font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;
    letter-spacing: .05em;
    color: #000;
    margin: 0;
}

.banner{
    width: 100%;
}

.caurosel-text{
font-size: 12px;
line-height: 8px;
}

.caurosel-text h6{
    font-weight: 1000;
}

.btn-outline{
    color: black !important;
    padding:12px 20px;
    margin:0px ;

    transition: background-color .3s,color .2s;
    border: 1px solid #000;
    box-sizing: border-box;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    letter-spacing: 1px;
}

.btn-outline:hover{
    background-color: black !important;
    color: white !important;

}
.justarrived-card{
    bottom: 0px;
    right:0px;
    max-width: 350px;
}

.headline{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.subline{
    font-size: 12px;
}

.title{
    padding-bottom: 8px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    padding-top: 48px;
}