body,html{
    margin: 0%;
    padding: 0%;

    font-size: 12px;
    line-height: 1.6;
    font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;
    letter-spacing: .05em;
    color: #000;
    margin: 0;
}