body,html{
    margin: 0%;
    padding: 0%;

    font-size: 12px;
    line-height: 1.6;
    font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;
    letter-spacing: .05em;
    color: #000;
    margin: 0;
}

.banner{
    width: 100%;
}

.caurosel-text{
font-size: 12px;
line-height: 8px;
}

.caurosel-text h6{
    font-weight: 1000;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
    background: black 50%/100% 100% no-repeat !important;
    border-radius: 50% !important;
} */

.btn-outline-secondary{
    border-color: black !important;
    color: black !important;
    border-radius: 0 !important;
}

.btn-outline-secondary:hover{
    background-color: black !important;
    color: white !important;
}

.btn-outline-secondary:focus{
    box-shadow: none !important;
    outline: none !important;
}

.justarrived-card{
    bottom: 0px;
    right:0px;
    max-width: 350px;
}

.headline{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.subline{
    font-size: 12px;
}